- name: Install System Packages 1 (build-essential, cmake, pkg-config, pthread)
  apt:
    name: ["build-essential", "cmake", "pkg-config", "libpthread-stubs0-dev"]
  tags:
    - all
- name: Install System Packages 2 (unzip, libtool, libtool-bin, gettext)
  apt:
    name: [ "unzip", "libtool", "libtool-bin", "gettext"]
  tags:
    - all
- name: Install System Packages 3 (the rest)
  apt: name={{item}}
  with_items:
    - pulseaudio 
    - redshift
    - pulseaudio-utils
    - xautolock
    - dunst
    - xrandr
    - htop
    - golang
    - lsof
    - i3
    - ccache
    - python3-pip
    - nvidia-settings
    - pavucontrol
    - moreutils
    - ripgrep
    - tmux
  tags:
    - all
