- name: Install System Packages 1 (build-essential, cmake, pkg-config, pthread)
  apt:
    name: ["build-essential", "cmake", "pkg-config", "libpthread-stubs0-dev"]
  tags:
    - all
- name: Install System Packages 2 (unzip, libtool, libtool-bin, gettext)
  apt:
    name: [ "unzip", "libtool", "libtool-bin", "gettext"]
  tags:
    - all
- name: Install System Packages 3
  apt: name={{item}}
  with_items:
    - feh
    - lm-sensors
    - xdotool
    - xprop
    - pulseaudio 
    - redshift
    - pulseaudio-utils
    - xautolock
    - dunst
    - xrandr
    - htop
    - golang
    - lsof
    - i3
    - ccache
    - python3-pip
    - nvidia-settings
    - pavucontrol
    - moreutils
    - ripgrep
    - tmux
    - fzf
    - xclip
    - tldr
  tags:
    - all
- name: Install System Packages 4 (Using python)
  shell: "pip3 install --user --upgrade i3-resurrect"
  tags:
    - all
